{% extends "merchant/deliveryman_templates_base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/deliveryman_history.css' %}">{% endblock %}
{% block activate_history %}active{% endblock %}
 {% block headcontent %}
        <div id="head-content">
          <h2>History</h2>
          <h4>Your History</h4>
        </div>
      {% endblock %}
{% block mainspace %}
<div id="container-body">
</div>
 <div id="emptyorder">
    <div id="crossimg">
        <img src="{% static 'images/cross.png' %}" alt="" />
    </div>
    <div>
        <p>You don't have any delivery history!</p>
    </div>
</div>
{% endblock %}
{% block scripts %}<script src="{% static 'scripts/deliveryman_history.js' %}" defer></script>{% endblock %}
