{% extends "merchant/deliveryman_templates_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<link rel="stylesheet" href="{% static 'css/deliveryman_current_orders.css' %}">
{% endblock %}
{% block activate_current_orders %}active{% endblock %}
 {% block headcontent %}
        <div id="head-content">
          <h2>Orders</h2>
          <h4>Current Orders</h4>
        </div>
      {% endblock %}
{% block mainspace %}
<div id="container-body" class="delivery-list">
  <div>
    <div id="map-container">
      <div id="map" style="height: 300px; width: 100%;"></div>
       <div id="map-error" class="hidden">
       </div>
    </div>
    <div id="delivery-list-container">
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script src="{% static 'scripts/deliveryman_current_orders.js' %}" defer></script>
{% endblock %}
