{% extends "merchant/deliveryman_templates_base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<link rel="stylesheet" href="{% static 'css/deliveryman_new_orders.css' %}">
{% endblock %}
{% block activate_new_orders %}active{% endblock %}
 {% block headcontent %}
        <div id="head-content">
          <h2>New Delivery</h2>
          <h4>"your new delivery requests"</h4>
        </div>
      {% endblock %}
{% block mainspace %}
  <div id="container-body">
    <div id="current-order-container">
      <div id="currentorder-header">
        <h3>Recent Requested Deliveries</h3>
        <!--    later implement the filter based on product(add here filter
            input)    -->
      </div>
      <div id="current-order-wrapper">
        <div id="emptyorder" style="display: none;">
          <div id="crossimg">
            <img src="{% static 'images/cross.png' %}" alt="" />
          </div>
          <div>
            <p>You haven't received any deliveries request!</p>
          </div>
        </div>
        <div id="current-order-list"></div>
      </div>
    </div>
  </div>
  <div id="currently-assigned-notice" class="hidden">
    <div id="notice-info-wrapper"><div id="notice-info">
      <div id="info-header">
        <p><span><i class="fa-solid fa-circle-exclamation"></i></span>You are already assigned for the delivery.<span></span></p>
        <div>
          <span>(Note:</span>
          <br/>
          <span> a)You will receive all the further requests send by the restaurant till you are out for the delivery.</span>
          <br/>
         <span>b)You can accept other orders once you have delivered the current request.)</span> 
        </div>
      </div>
    </div></div>
    
  </div>
<!-- <div id="container-body" class="order-list"></div> -->
{% endblock %}
{% block scripts %}
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

  <script> 
    function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      if (cookie.startsWith(name + "=")) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
const csrftoken = getCookie("csrftoken");
  </script>
<script src="{% static 'scripts/deliveryman_new_orders.js' %}" defer></script>
{% endblock %}
