{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/m_sign_log.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <script src="https://kit.fontawesome.com/your_kit_code.js" crossorigin="anonymous" defer></script>
    <script src="{% static 'scripts/m_sign_log.js' %}" defer></script>
    <title>Grubmate-LoginSignup</title>
  </head>
  <body>
    <header>
      <div id="drop-btn">
        <i class="fa-solid fa-bars" id="bar"></i>
        <i class="fa-solid fa-xmark" id="xmark"></i>
        <div id="logo-brand">
          <i class="fa-solid fa-truck-fast"></i>
          <h3>Grubmate</h3>
        </div>
      </div>
      <div class="header-link">
        <ul>
          <li id="home">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li id="signlog" class="navbtn">
            <a href="{% url 'signup_login' %}">SignUp/LogIn</a>
          </li>
          <li id="join" class="navbtn">
            <a id="mainjoin" href="javascript:void(0);">Join Us</a>
            <ul class="dropdown">
              <li>
                <a href="{% url 'restaurant_register' %}">Join as Restaurant</a>
              </li>
              <li>
                <a href="{% url 'deliveryman_register' %}">Join as Deliveryman</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </header>

    <div class="container" id="container" data-show-signup="{{ show_signup|yesno:'true,false' }}">
      <div class="form-container sign-up-container">
        <form action="{% url 'signup_login' %}" method="post">
          {% csrf_token %}
          {% if signup_form.errors %}
            <div class="error-container">
              <ul>
                {% for field in signup_form %}
                  {% for error in field.errors %}
                    <li>
                      <strong>{{ field.label }}:</strong> {{ error }}
                    </li>
                  {% endfor %}
                {% endfor %}
                {% for error in signup_form.non_field_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <input type="hidden" name="form_type" value="signup" />
          <h1>Create Account</h1>
          <input type="text" name="name" value="{{ signup_form.name.value|default:'' }}" placeholder="Name" class="form-control" />
          <div id="nameError" class="text-danger"></div>
          <input type="tel" name="phone_number" value="{{ signup_form.phone_number.value|default:'' }}" placeholder="Phone number" class="form-control" />
          <input type="email" name="email" value="{{ signup_form.email.value|default:'' }}" placeholder="Email" class="form-control" />
          <input type="password" name="password1" placeholder="Password" class="form-control" />
          <input type="password" name="password2" placeholder="Confirm Password" class="form-control" />
          <button class="inputbtn">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="{% url 'signup_login' %}" method="post">
          {% csrf_token %}
          {% if form.errors %}
            <div class="error-container">
              <ul>
                {% for field in form %}
                  {% for error in field.errors %}
                    <li>
                      <strong>{{ field.label }}:</strong> {{ error }}
                    </li>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <input type="hidden" name="form_type" value="login" />
          <h1>Log in</h1>

          <input type="email" name="email" placeholder="Email" required />
          <input type="password" name="password" placeholder="Password" required />
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
          <a href="{% url 'forget_password' %}">Forgot your password?</a>
          <button class="inputbtn">Log In</button>
        </form>
      </div>
      <div id="signup" class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Sign Up!</h1>
            <p>To keep connected with us please signup with your personal info</p>
            <button class="ghost" id="logIn">Log In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Merchant!</h1>
            <p>Enter your login info and start journey with us</p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>
        <i class="fa fa-heart"></i> Grubmate
        <span><i class="fa-solid fa-truck-fast"></i></span>
      </p>
    </footer>
  </body>
</html>
