<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Order Receiver</title>
    <style>
        body { font-family: monospace; background: #f5f5f5; padding: 20px; }
        #orders { background: #fff; padding: 10px; border-radius: 8px; }
        pre { background: #272822; color: #f8f8f2; padding: 10px; border-radius: 6px; }
    </style>
</head>
<body>
    <h1>Order Receiver</h1>

    <div id="orders"></div>

    <script>
        const url = `ws://${window.location.host}/ws/socket-server/`;
        const orderSocket = new WebSocket(url);

        orderSocket.onopen = () => console.log("Connected to lobby messages");

        orderSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const ordersDiv = document.getElementById('orders');
            const pretty = JSON.stringify(data, null, 4);
            ordersDiv.insertAdjacentHTML('beforeend', `<pre>${pretty}</pre>`);
        };
    </script>
</body>
</html>
