{% extends "merchant/merchant_templates_base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/restaurant_dashboard.css' %}" />
{% endblock %}
{% block activate_dashboard %}
  active
{% endblock %}
{% block mainspace %}
<div id="container-body">
  <div id="business-statistics">
    <div class="statistics">
      <h4>Total Menus</h4>
      <div>
        <p>14</p>
        <span>
          <i class="fa-solid fa-up-long fa-increase"></i>
          <span class="percent-change fa-increase">12.5%</span>
        </span>
      </div>
    </div>
    <div class="statistics">
      <h4>Total Revenue</h4>
      <div>
        <p>Rs. 10k</p>
        <span>
          <i class="fa-solid fa-down-long fa-decrease"></i>
          <span class="percent-change fa-decrease">-4%</span>
        </span>
      </div>
    </div>
    <div class="statistics">
      <h4>Total Orders</h4>
      <div>
        <p>57</p>
        <span>
          <i class="fa-solid fa-down-long fa-decrease"></i>
          <span class="percent-change fa-decrease">-2.34%</span>
        </span>
      </div>
    </div>
    <div class="statistics">
      <h4>Total Customers</h4>
      <div>
        <p>199</p>
        <span>
          <i class="fa-solid fa-down-long fa-increase"></i>
          <span class="percent-change fa-increase">32%</span>
        </span>
      </div>
    </div>
  </div>

  <div id="statistics-summary">
    <div id="summary1">
      <h3>Orders Summary</h3>
    </div>
    <div id="summary2">
      <div id="summary2-div">
        <h3>Order Statistics</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/restaurant_dashboard.js' %}" defer></script>
{% endblock %}
