{% extends "merchant/restaurant_dashboard.html" %}
{% load static %}
{% block styles %} <link rel="stylesheet" href="{%static 'css/restaurant_settings.css'%}" />{% endblock  %}
{% block headcontent %}
<div id="head-content">
          <h2>Settings</h2>
          <h4><span>"customize Settings"</span></h4>
        </div>
  {% endblock  %}
  {% block deactivate %}dashboard{% endblock  %}
  {% block activate_settings %}active{% endblock  %}
{% block mainspace %}    
    {% endblock %}
     {% block scripts %}<script src="{%static 'scripts/restaurant_settings.js'%}" defer></script>{% endblock  %}






