env/
node_modules
.env
backend/env
*.pyc
__pycache__/
backend/api/migrations/__pycache__/
backend/merchant/migrations/__pycache__/
backend/FoodDeliveryWebApp/__pycache__/

backend/media/bill_book_files/banana.jpg
backend/media/bill_book_files/nepali.jpg
backend/media/food_images/banana.jpg
backend/media/food_images/mango.webp
backend/media/food_images/mango_2kIbpT6.webp
backend/media/food_images/mango_3pznLZw.webp
backend/media/bill_book_files/banana_VGMGaFP.jpg
backend/media/food_images/mango_3uvJ70W.webp
backend/media/food_images/mango_4JPV5Cv.webp
backend/media/food_images/mango_EB30bQC.webp
backend/media/food_images/mango_EvGXZdq.webp
backend/media/food_images/mango_KScT1Ud.webp
backend/media/food_images/mango_MmBbT3R.webp
backend/media/food_images/mango_YDTxw9R.webp
backend/media/food_images/mango_hzlyEJf.webp
backend/media/food_images/mango_jk6PRGQ.webp
backend/media/food_images/mango_jlSuG7H.webp
backend/media/food_images/mango_jnm4TWD.webp
backend/media/food_images/mango_kvyskfB.webp
backend/media/food_images/mango_l1Pu6yS.webp
backend/media/food_images/mango_uMy5kDH.webp
backend/media/food_images/mango_zQW2hlF.webp
backend/media/restaurant/profile_pics/APPLE.webp
backend/media/restaurant/profile_pics/mango.webp
backend/media/restaurant/profile_pics/mango_8m2FHqH.webp
backend/media/restaurant/profile_pics/mango_Bey4GY4.webp
backend/media/restaurant/profile_pics/mango_UOPagzc.webp
backend/media/user_images/banana.jpg
backend/media/user_images/banana_ItaPe8m.jpg
backend/media/user_images/mango.webp