env/
node_modules
.env
backend/env
*.pyc
__pycache__/
backend/api/migrations/__pycache__/
backend/merchant/migrations/__pycache__/
backend/FoodDeliveryWebApp/__pycache__/

backend/media/bill_book_files/banana.jpg
backend/media/bill_book_files/banana_VGMGaFP.jpg
backend/media/user_images/banana.jpg
backend/media/user_images/banana_ItaPe8m.jpg