env/
node_modules
.env
backend/env
*.pyc
__pycache__/
backend/api/migrations/__pycache__/
backend/merchant/migrations/__pycache__/
backend/FoodDeliveryWebApp/__pycache__/
backend/db.sqlite3

media/bill_book_files/
media/bill_book_images/
media/food_images/
media/identity_images/
media/restaurant/profile_pics/
media/restaurant/cover_photos/
media/restaurant/menus/
media/user_images/
