asgiref==3.8.1
channels==4.2.2
Django==5.2
django-cors-headers==4.7.0
django-jazzmin==3.0.1
django-rest-knox==5.0.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
pillow==11.2.1
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-decouple==3.5
python-dotenv==1.1.0
pytz==2025.2
setuptools==80.1.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
