@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@font-face {
  font-family: "rocketThunder";
  src: url("../fonts/RocketThunder.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "heyam";
  src: url("../fonts/Heyam.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 80%;
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
}

#main-content {
  width: 60%;
  padding: 0px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

#goback {
  position: absolute;
  top: 10px;
  left: 10px;
}

#goback a {
  text-decoration: none;
  color: #ffffff;
}

#goback i {
  font-size: 30px;
  transition: transform ease 0.5s, color ease 0.5s;
  cursor: pointer;
}

#goback i:hover {
  transform: scale(1.2);
  color: #fa3807ff;
}

#top {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
}

#top span i {
  font-size: 25px;
  color: rgb(240, 151, 26);
  animation: ring 2s infinite;
  transform-origin: top center;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#status-info {
  font-size: 50px;
  line-height: 45px;
  margin-top: -30px;
  font-family: "rocketThunder", "Poppins", sans-serif;
}

#userid {
  font-family: "heyam", "Poppins", sans-serif;
  font-size: 25px;
  margin-right: 10px;
  background: linear-gradient(
    to right,
    rgba(238, 231, 225, 1),
    rgba(255, 38, 0, 1)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.7s ease;
}

#userid:hover {
  transform: scale(1.2);
  background: linear-gradient(
    to right,
    rgba(255, 51, 0, 1),
    rgba(252, 236, 225, 1)
  );
  background-clip: text;
}

#extra-info {
  display: flex;
  gap: 100px;
  align-items: center;
  margin-top: 10px;
}

#state div {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  height: 25px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
  gap: 10px;
  pointer-events: none;
  box-shadow: 3px 4px 2px #ffffffff;
}

#approved {
  background-color: rgb(58, 241, 41);
}

#pending {
  background-color: rgb(243, 26, 26);
}

#form-submitted-date h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  position: relative;
  color: rgb(255, 179, 71);
}

#form-submitted-date h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scale(0);
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  background-origin: center;
  transition: transform ease 0.5s;
  border-radius: 2px;
}

#form-submitted-date h3:hover::after {
  transform: scale(1);
}

#date {
  color: rgb(235, 244, 250);
  font-size: 18px;
}

#todashboard-wrapper {
  display: flex;
  align-items: center;
}

#todashboard-wrapper > div {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#todashboard-wrapper div:first-child > span {
  color: #54ca1dff;
  font-size: 20px;
}

#todashboard-wrapper div:last-child > span {
  color: rgb(248, 24, 24);
  font-size: 20px;
}

#vid-content {
  width: 40%;
  height: 100%;
}

#vid-content video {
  height: 500px;
  width: 100%;
}

.disabled-wrapper {
  cursor: not-allowed;
  display: inline-block;
}

.disabled-wrapper > a {
  text-decoration: none;
  pointer-events: none;
  background-color: #f7cfcfff;
  color: #918d8dff;
  padding: 15px;
  border-radius: 7px;
  opacity: 0.5;
  margin-right: 10px;
}

.enabled-wrapper {
  display: inline-block;
}

.enabled-wrapper > a {
  text-decoration: none;
  background-color: #e6dfdfff;
  color: #202020ff;
  padding: 15px;
  border-radius: 7px;
  cursor: pointer;
}

.enabled-wrapper > a:hover {
  background-color: #ffffff;
  color: #000000;
}
