#container-body > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.delivery-card {
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  transition: transform 0.2s ease;
  position: relative;
}

.delivery-card:hover {
  transform: scale(1.02);
}

.delivery-main-detail h4 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 10px;
  font-family: "epic";
}

.order-details {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}

.order-details.show {
  max-height: 1000px;
}

.delivery-main-detail > p > span,
.order-details > div > h4 {
  font-size: 20px;
  font-weight: bold;
  color: #ec600f;
  font-family: "rocketThunder";
  letter-spacing: 1px;
}

.order-details > div:first-child > ul {
  padding-left: 20px;
  list-style: none;
}
.order-details > div:first-child ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#delivery-info-container {
  margin-top: -20px;
}

#delivery-info-container.hidden {
  display: none;
}

#map-error {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

#map-error.hidden {
  display: none;
}

#map-error > div {
  border-radius: 7px;
  padding: 10px;
  background-color: #ffffff;
  color: red;
  font-size: 17px;
  box-shadow: 2px 2px 2px #e0e0e0;
}

#delivery-list-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
  max-height: 68vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: inset 2px 2px 12px #aaaaaaff;
}

#delivery-list-container::-webkit-scrollbar {
  display: none;
}

.fullpageview-btn {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.fullpageview-btn > i {
  font-size: 35px;
  color: #4d4c4cff;
  transition: transform 0.3s ease;
}

.fullpageview-btn > i.rotate {
  transform: rotate(180deg);
}

.fullpageview-btn > i.rotate:hover {
  color: #000000;
  transform: rotate(180deg) scale(1.2);
}

#out-for-deliverybtn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.view-delivery-btn,
#out-for-deliverybtn {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 5px;
  background-color: #ec600f;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
}
