#container-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.summary-card {
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease;
}

.summary-card:hover {
  transform: scale(1.03);
}

.summary-card p {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: bold;
  color: #ec600f;
  font-family: "rocketThunder";
  letter-spacing: 1px;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-info > h3 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  letter-spacing: 1px;
  color: #333;
  font-family: "epic";
}

.main-info > i {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}

.main-info > i:hover {
  transform: scale(1.3);
}

.view-details:hover::after {
  content: "details";
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 500;
  background-color: #ffffffff;
  padding: 7px;
  border: none;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  top: -35px;
  left: -20px;
  width: 50px;
  box-shadow: 0px 3px 5px #bdbcbcff;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    67% 75%,
    53% 100%,
    36% 75%,
    0% 75%
  );
}

.view-less:hover::after {
  content: "less";
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 500;
  background-color: #ffffffff;
  padding: 7px;
  border: none;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  top: -35px;
  left: -20px;
  width: 50px;
  box-shadow: 0px 3px 5px #000000ff;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    67% 75%,
    53% 100%,
    36% 75%,
    0% 75%
  );
}

.openclose {
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease-in-out, opacity 1s ease;
}

.main-body {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.openclose.open {
  max-height: 500px;
  opacity: 1;
}

.customer-info,
.merchant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-info > h4,
.merchant-info > h4 {
  font-family: "rocketThunder";
  letter-spacing: 1px;
  font-weight: 500;
  color: #585858ff;
}

.hidden {
  display: none;
}

#emptyorder {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
  display: none;
}

#emptyorder > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  z-index: 1;
}

#emptyorder > div:last-child p {
  font-family: "rocketThunder";
  font-size: 25px;
}

#crossimg {
  height: 150px;
  width: 150px;
}

#crossimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
