#container-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.summary-card {
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  transition: transform 0.2s ease;
}

.summary-card:hover {
  transform: scale(1.06);
}

.summary-card h3 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 10px;
  font-family: "epic";
}

.summary-card p {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: bold;
  color: #ec600f;
  font-family: "rocketThunder";
  letter-spacing: 1px;
}

.order-actions button {
  padding: 10px;
  width: clamp(120px, 10vw, 160px);
  height: 50px;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
  font-family: "Poppins";
  font-size: 15px;
  color: #000000;
  background-color: #b9b9b9ff;
  cursor: pointer;
}

.order-actions button:hover {
  background-color: #252525ff;
  color: #ffffff;
}

#noneworder {
  font-size: 30px;
  font-family: "rocketThunder";
  letter-spacing: 1px;
}

#noneworder > span {
  color: #f54f0eff;
}

@media (max-width: 768px) {
  #container-body {
    grid-template-columns: 1fr;
  }
}
