@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

@font-face {
  font-family: "bulgatti";
  src: url("../fonts/Bulgatti.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Qurova";
  src: url("../fonts/QurovaLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Qurova";
  src: url("../fonts/QurovaRegular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Qurova";
  src: url("../fonts/QurovaMedium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Qurova";
  src: url("../fonts/QurovaSemiBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Qurova";
  src: url("../fonts/QurovaBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "florisha";
  src: url("../fonts/florisha.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../images/fly.png");
  background-repeat:no-repeat;
  background-position:100% 0%:
  background-size:content;
}

/* heading part */

header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 150px;
  flex-wrap: wrap;
  z-index: 999;
  position: relative;
}

#drop-btn {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

#xmark {
  display: none;
}

#xmark.active {
  display: block;
}

#bar,
#xmark {
  transition: opacity 0.3s ease;
}

#logo-brand {
  display: flex;
  align-items: center;
  gap: 20px;
}

#logo-brand h3 {
  color: red;
  font-family: "florisha";
}

#logo-brand i {
  color: red;
}

.header-link {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 1s ease, opacity 1s ease, visibility 0.5s;
}

.header-link.active {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

.header-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 150px;
  justify-content: center;
}

.header-link ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding: 12px 20px;
  display: block;
  transition: background-color 0.3s ease;
}

.header-link ul li a:hover {
  background-color: #555;
  border-radius: 5px;
  color: white;
}

.header-link ul li:last-child #mainjoin {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.header-link ul li:last-child #mainjoin:hover {
  background-color: red;
}

#drop-btn i {
  font-size: 20px;
}

#join {
  position: relative;
  display: inline-block;
}

#join ul {
  display: none;
  position: absolute;
  gap: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#join ul li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#join ul li a:hover {
  background-color: #f1f1f1;
}

#join:hover ul {
  display: block;
  z-index: 999;
}

#mainjoin {
  cursor: default;
}

/* form */

#form-container{
  position:relative;
}

#form-img1{
  position:absolute;
  z-index:-1;
  top:-80px;
  right:100px;
}

#form-img2{
  position:absolute;
  z-index:-1;
  top:400px;
  right:400px;
}

#pointing{
  position:absolute;
  z-index:-1;
  top:750px;
  right:700px;
}

#pointing img{
  height: 300px;
}

#form-head {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 20px;
  font-family: "florisha";
  font-size: 25px;
}

#form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#main-info,
#additional-info {
  border-radius: 12px;
}

#main-info > div:first-child,
#additional-info > div:first-child {
  text-align: center;
  font-family: "Poppins";
  font-size: 25px;
}

#main-info > div:first-child h4,
#additional-info > div:first-child h4 {
  margin-top: -10px;
}

#additional-info > div:first-child{
  color:white;
}

#main-info-container,
#additional-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 50px;
  row-gap: 10px;
  padding: 20px 50px;
  margin-top: -30px;
}

#main-info-container div,
#additional-info-container div {
  display: flex;
  flex-direction: column;
}

#main-info-container div input,
#main-info-container div select,
#additional-info-container div select,
#additional-info-container div input {
  height: 40px;
  border-radius: 7px;
  outline: none;
  border: 0.3px solid grey;
  padding: 0 10px;
}

#submit {
  text-align: center;
}

#submit button {
  border: none;
  border-radius: 7px;
  height: 50px;
  width: 120px;
  background-color: red;
  color: white;
  font-size: 17px;
  transition: background-color 0.7s ease;
}

#submit button:hover {
  background-color: black;
  color: white;
}
