#business-statistics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 20px;
  padding: 0;
}

.statistics {
  height: 150px;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  background-color: #e0e0e0;
  color: rgb(116, 110, 110);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: inset -2px -3px 5px #ffffffff, inset 2px 3px 5px #747373ff;
  transition: transform 0.5s ease, color 0.5s ease;
}

.statistics:hover {
  transform: scale(0.92);
  color: #000000;
}

.statistics h4 {
  font-size: 22px;
  letter-spacing: 2px;
  font-weigth: 400;
  color: inherit;
  font-family: "rocketThunder", sans-serif;
}

.statistics div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.statistics div p {
  font-size: 35px;
  font-weight: 500;
  font-family: "epic";
}

.fa-increase {
  color: green;
}

.fa-decrease {
  color: red;
}

.percent-change {
  font-family: "epic", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

#statistics-summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

#summary1 {
  background: radial-gradient(#f79678ff, #f15627ff);
  height: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #6d6c6cff, -3px -5px 10px #ffffff;
  transition: transform 0.5s ease;
}

#summary1:hover {
  transform: scale(1.05);
}

#summary1 h3 {
  font-family: "epic";
  letter-spacing: 2px;
}

#summary2 {
  border: 10px solid white;
  border-radius: 20px;
  height: 250px;
  box-shadow: inset -2px -3px 5px #ffffffff, inset 2px 3px 5px #747373ff;
  position: relative;
}

#summary2 div {
  background-color: white;
  height: 250px;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #6d6c6cff, 3px 5px 10px #ffffff;
  z-index: 20;
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
}

#summary2 div h3 {
  font-family: "epic";
  font-size: 20px;
  letter-spacing: 2px;
}

#popular {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#popular-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.popular-container {
  height: 254px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #ffffff;
  outline: 7px solid #ffffff;
  outline-offset: 4px;
  color: #e0e0e0;
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.popular-container div {
  z-index: 1;
}

.popular-container::before {
  content: "";
  position: absolute;
  width: 200px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 200%;
  animation: bg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes bg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.popular-container::after {
  content: "";
  position: absolute;
  background: #ffffff;
  inset: 5px;
  border-radius: 15px;
}

.popular-container div:first-child {
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #ffffff;
  transition: transform 0.5s ease-out;
}

.popular-container div:first-child img {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.popular-container div:first-child:hover {
  transform: scale(1.08);
}

.popular-container div:last-child {
  width: 92%;
  height: 30%;
  margin-top: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #e0e0e0;
  color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-out, font-size 0.3s ease;
  font-size: 1rem;
}

.popular-container div:last-child:hover {
  transform: scaleY(1.5) translateY(-5px);
  font-size: 1.1rem;
}

/* @media (max-width: 1024px) {
  #container-head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} */
