#current-menus-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#currentmenu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}

#currentmenu-header > h3 {
  font-family: "rocketThunder";
  font-size: 25px;
  letter-spacing: 1px;
}

#currentmenu-header button {
  padding: 15px;
  width: 150px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins";
  box-shadow: -2px -2px 3px #ffffff, 3px 2px 5px #a5a4a4ff;
  cursor: pointer;
  font-family: "rocketThunder";
  font-size: 20px;
}

#currentmenu-header button:hover {
  background-color: #f34c0aff;
}

#currentmenu-header button:active {
  background-color: #e0e0e0;
  box-shadow: inset 2px 2px 5px #aaa9a9ff, inset -1px -2px 10px #ffffff;
}

#current-menus-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.current-menu-item {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0;
  border-radius: 20px;
  height: 120px;
  width: 100%;
  padding: 10px;
  transition: all ease 0.5s;
  font-family: "Poppins";
}

.current-menu-item:hover {
  transform: scale(1.03);
  background-color: #ec540dff;
  color: #ffffff;
}

.update-currentitems {
  position: absolute;
  top: -10px;
  left: -5px;
}

.delete-currentitems {
  position: absolute;
  top: -10px;
  right: -10px;
}

.update-currentitems i,
.delete-currentitems i {
  font-size: 30px;
  color: #535353ff;
  cursor: pointer;
  transition: all ease 0.5s;
}

.update-currentitems i:hover {
  transform: scale(1.15);
  color: #fa9806ff;
}
.delete-currentitems i:hover {
  transform: scale(1.15);
  color: #fa0606ff;
}

.currentmenuitem-pp {
  height: 110px;
  width: 110px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #a3a3a3ff;
  box-shadow: inset 2px 2px 5px #797979ff, inset -1px -2px 3px #ffffff;
}

.currentmenuitem-pp img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 50px;
}

.currentmenuitem-pricing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.currentmenuitem-description {
  width: 20%;
}

#emptymenu {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#emptymenu > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  z-index: 1;
}

#emptymenu > div:last-child p {
  font-family: "rocketThunder";
  font-size: 25px;
}

#pointingup {
  position: absolute;
  height: 200px;
  width: 200px;
  right: 0;
  top: -80px;
}

#crossimg {
  height: 150px;
  width: 150px;
}

#crossimg img,
#pointingup img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#pointingup img {
  z-index: -1;
}

#additem-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
  z-index: 5000;
}

#additem-modal.hidden,
#revalidate-delete.hidden,
#revalidate-logout.hidden {
  display: none;
}

#additem-content {
  background-color: #fff;
  padding: 30px;
  margin: auto;
  border-radius: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  position: relative;
  font-family: "Poppins", sans-serif;
}

#revalidate-logout {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#revalidate-delete {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5000;
}

#additem-content > h2 {
  font-family: "rocketThunder";
  font-size: 25px;
  letter-spacing: 1px;
}

#close-modal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #ff2424ff;
  transition: all ease 0.5s;
}

#close-modal:hover {
  transform: scale(1.2);
  color: #ff0000ff;
}

#item-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(100px, 80%, 250px));
  gap: 40px;
  justify-content: center;
}

.ip {
  position: relative;
  display: flex;
  border: 0.5px solid #868484ff;
  border-radius: 50px;
  height: 50px;
  font-family: "Poppins";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s;
}

.ip.description {
  height: 120px;
  border-radius: 20px;
}

.ip div:first-child {
  position: absolute;
  background-color: #ffffff;
  top: -20px;
  left: 20px;
  padding: 3px;
}

.ip div:first-child label {
  font-size: 14px;
}

.ip div:last-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ip div:last-child input,
#category,
#availability {
  height: 80%;
  width: 90%;
  border: none;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

#description {
  height: 60%;
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.ip div:last-child input:focus {
  border: none;
  outline: 0.5px solid #e95419ff;
  outline-offset: 7px;
}

#description:focus {
  outline: none;
}

#category:focus,
#availability:focus {
  outline: none;
}

#category,
#availability {
  appearance: none;
  padding: 10px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 20px;
}

input[type="file"] {
  margin-top: 20px;
  padding-left: 20px;
}

.submit-wrapper {
  align-self: end;
}

.submit-wrapper button {
  height: 45px;
  width: 120px;
  border: none;
  background-color: #e95419ff;
  color: #ffffff;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.submit-wrapper button:hover {
  background-color: #fc3604ff;
}

/* ------------------- */

@media (max-width: 1024px) {
  #container-head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .currentmenuitem-category,
  .currentmenuitem-description {
    display: none;
  }

  .current-menu-item {
    height: 400px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 850px) {
  #additem-content {
    height: 100%;
    overflow-y: scroll;
  }
  .form-body {
    justify-content: start;
  }

  #additem-form {
    align-items: center;
  }
}
