#current-order-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#currentorder-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}

#currentorder-header > h3 {
  font-family: "rocketThunder";
  font-size: 25px;
  letter-spacing: 1px;
}

#currentorder-header button {
  padding: 15px;
  width: 150px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins";
  box-shadow: -2px -2px 3px #ffffff, 3px 2px 5px #a5a4a4ff;
  cursor: pointer;
  font-family: "rocketThunder";
  font-size: 20px;
}

#currentorder-header button:hover {
  background-color: #f34c0aff;
}

#currentorder-header button:active {
  background-color: #e0e0e0;
  box-shadow: inset 2px 2px 5px #aaa9a9ff, inset -1px -2px 10px #ffffff;
}

#current-order-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .current-order-item {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0;
  border-radius: 20px;
  height: 120px;
  width: 100%;
  padding: 10px;
  transition: all ease 0.5s;
  font-family: "Poppins";
}

.current-order-item:hover {
  transform: scale(1.03);
  background-color: #ffffff;
}

.update-currentitems {
  position: absolute;
  top: -10px;
  left: -5px;
}

.expand-currentitems {
  position: absolute;
  top: 10px;
  right: 20px;
}

.expand-currentitems > div {
  position: relative;
  display: inline-block;
}

.expand-currentitems > div > span {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: all 1s ease;
}

.expand-currentitems:hover > div > span {
  visibility: visible;
  opacity: 1;
}

.update-currentitems i,
.expand-currentitems > div i {
  font-size: 30px;
  color: #535353ff;
  cursor: pointer;
  transition: all ease 0.5s;
}

.update-currentitems i:hover {
  transform: scale(1.15);
  color: #fa9806ff;
}
.expand-currentitems > div > i:hover {
  transform: scale(1.15);
  color: #fa0606ff;
}

.currentorderitem-pp {
  height: 110px;
  width: 110px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #a3a3a3ff;
  box-shadow: inset 2px 2px 5px #797979ff, inset -1px -2px 3px #ffffff;
}

.currentorderitem-pp img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 50px;
}

.currentorderitem-pricing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.currentorderitem-description {
  width: 20%;
} */

#emptyorder {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
  display: none;
}

#emptyorder > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  z-index: 1;
}

#emptyorder > div:last-child p {
  font-family: "rocketThunder";
  font-size: 25px;
}

#pointingup {
  position: absolute;
  height: 200px;
  width: 200px;
  right: 0;
  top: -80px;
}

#crossimg {
  height: 150px;
  width: 150px;
}

#crossimg img,
#pointingup img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#pointingup img {
  z-index: -1;
}

/* /////// */

.order-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.order-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.order-summary h4,
.order-summary p {
  font-family: "Poppins";
}
.order-summary button {
  padding: 10px;
  margin: 2px;
  border: none;
  background-color: #ec600f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "rocketThunder";
}
.order-summary button:hover {
  background-color: #fa7d3b;
}
.order-details {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-family: "Poppins";
  display: none;
  flex-wrap: wrap;
  gap: 150px;
  justify-content: center;
}

.order-details > div > h4 {
  font-family: "rocketThunder";
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.order-details > div:first-child > ul {
  padding-left: 20px;
  list-style: none;
}
.order-details > div:first-child ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.tracking-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  z-index: 10000;
  width: 90%;
  max-width: 500px;
}
.tracking-content button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #f34c0a;
  color: white;
  border-radius: 5px;
  font-family: "rocketThunder";
  cursor: pointer;
}

/* ------------------- */

@media (max-width: 1024px) {
  .current-order-item {
    height: 400px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
