#current-order-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#currentorder-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}

#currentorder-header > div > h3 {
  font-family: "rocketThunder";
  font-size: 25px;
  letter-spacing: 1px;
}

#currentorder-header button {
  padding: 15px;
  width: 150px;
  border: none;
  border-radius: 50px;
  font-family: "Poppins";
  box-shadow: -2px -2px 3px #ffffff, 3px 2px 5px #a5a4a4ff;
  cursor: pointer;
  font-family: "rocketThunder";
  font-size: 20px;
}

#currentorder-header button:hover {
  background-color: #f34c0aff;
}

#currentorder-header button:active {
  background-color: #e0e0e0;
  box-shadow: inset 2px 2px 5px #aaa9a9ff, inset -1px -2px 10px #ffffff;
}

#current-order-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border: none;
  background-color: #e0e0e0;
  box-shadow: inset 2px 2px 5px #aaa9a9ff, inset -1px -2px 10px #ffffff;
  border-radius: 50px;
  width: clamp(150px, 20vw, 200px);
  height: 50px;
  cursor: pointer;
  font-family: "Poppins";
  letter-spacing: -0.5px;
  font-size: 16px;
}

.select-wrapper select:focus {
  border: none;
  outline: none;
}

.select-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Allow clicking on select */
  color: #555;
}

#emptyorder {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
  display: none;
}

#emptyorder > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  z-index: 1;
}

#emptyorder > div:last-child p {
  font-family: "rocketThunder";
  font-size: 25px;
}

#pointingup {
  position: absolute;
  height: 200px;
  width: 200px;
  right: 0;
  top: -80px;
}

#crossimg {
  height: 150px;
  width: 150px;
}

#crossimg img,
#pointingup img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#pointingup img {
  z-index: -1;
}

/* /////// */

.order-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.order-card:hover {
  transform: scale(1.03);
}

.order-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.order-summary h4,
.order-summary p {
  font-family: "Poppins";
}
.order-summary button {
  padding: 10px;
  margin: 2px;
  border: none;
  background-color: #ec600f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "rocketThunder";
}
.order-summary button:hover {
  background-color: #fa7d3b;
}

.order-details {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-family: "Poppins";
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.order-details > div:first-child {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.order-details > div > div > h4,
.order-details > div > h4 {
  font-family: "rocketThunder";
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.order-details > div:first-child > div:first-child > ul {
  padding-left: 20px;
  list-style: none;
}
.order-details > div:first-child ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#loadmore-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#loadmore {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #f34c0a;
  color: white;
  border-radius: 5px;
  font-family: "rocketThunder";
  cursor: pointer;
  letter-spacing: 1px;
  transition: transform 0.5s ease;
}

#loadmore:hover {
  transform: scale(1.05);
}

/* ------------------- */

@media (max-width: 1024px) {
  .current-order-item {
    height: 400px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
